<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.8.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script>
import firebase from 'firebase/app'
import 'firebase/auth'
import 'firebase/database'
export default {
  name: 'App',
  created () {
    const firebaseConfig = {
    apiKey: "AIzaSyDfaqy7yttMAjjULIhnfbJo0tAERTeEJzc",
    authDomain: "phaser-game-7b11f.firebaseapp.com",
    databaseURL: "https://phaser-game-7b11f.firebaseio.com",
    projectId: "phaser-game-7b11f",
    storageBucket: "phaser-game-7b11f.appspot.com",
    messagingSenderId: "595010639284",
    appId: "1:595010639284:web:c898e389ef029ef7794ee1"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.auth().onAuthStateChanged(user => {
    })
  }
}

</script>
