<template>
  <div class="row justify-center items-center flex">
    <q-card class="my-card q-pa-xs col-md-4 q-mt-xl col-lg-3 col-xl-3 col-sm-7 col-xs-10">
      <q-card-section>
        <div class="text-h5 column items-center q-pa-md text-secondary q-mb-xl">Домашняя бухгалтерия</div>
        <form class="q-gutter-lg"  @submit.prevent="onSubmit" >
          <q-input
            color="secondary"
            v-model="email"
            label="Email"
            lazy-rules
            ref="email"
            :rules="[
              val => !!val || 'Все поля должны быть заполнены!',
              val => /.+@.+/.test(val) || 'Введите корректный email!'
            ]"
            outlined
            type="email"
          >
            <template v-slot:prepend>
              <q-icon name="mail" />
            </template>
          </q-input>

          <q-input
            ref="password"
            v-model="password"
            color="secondary"
            :rules="[
              val => !!val || 'Все поля должны быть заполнены!',
              val => val.length >= 6 || 'Please use minimum 6 characters'
            ]"
            outlined
            type="password"
            label="Пароль"
          >
            <template v-slot:prepend>
              <q-icon name="lock" />
            </template>
          </q-input>
          <div class="flex justify-start row q-mt-lg">
            <q-btn
              color="secondary"
              label="Войти"
              type="submit"
              no-caps
              class="q-mb-sm col-12 q-pa-sm text-subtitle1 text-bold"
            />
          </div>
        </form>
        <div class="text-center">
          <q-btn
            to="/register"
            flat
            no-caps
            class="text-secondary text-body1 q-mb-lg q-mt-md q-mb-lg q-mt-md"
          >Регистрация</q-btn>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  computed: {
    name() {
      return this.$store.getters.info.name
    }
  },
  async mounted() {
    if (!Object.keys(this.$store.getters.info).length) {
    await this.$store.dispatch('fetchInfo')
    }
  },
  methods: {
    async onSubmit() {
      this.$refs.email.validate();
      this.$refs.password.validate();
      if (this.$refs.password.hasError || this.$refs.email.hasError) {
        this.formHasError = true;
      } else {
        const user = {
          email: this.email,
          password: this.password}
        this.$q.notify({
          icon: "done",
          color: "positive",
          message: "Вход успешно завершен!"
        })
        try {
          await this.$store.dispatch("login", user);
          this.$router.push('/game')
          setTimeout(() => {
          return window.location.reload()
          }, 500)
        } catch (e) {}
      }
    }
  }
}
</script>
<style lang="scss">
a {
  text-decoration: none;
}
</style>
