<template>
    <div class="row justify-center items-center flex">
      <q-card class="my-card q-pa-xs col-md-4 q-mt-xl col-lg-3 col-xl-3 col-sm-7 col-xs-10">
        <q-card-section>
          <div class="text-h5 column items-center q-pa-md text-secondary q-mb-xl">Домашняя бухгалтерия</div>
          <form @submit.prevent="onSubmit" class="q-gutter-lg">
            <q-input
              color="secondary"
              v-model="name"
              outlined
              type="text"
              label="Name"
              ref="name"
              lazy-rules
              :rules="[val => !!val || 'Все поля должны быть заполнены!']"
            >
              <template v-slot:prepend>
                <q-icon name="person" />
              </template>
            </q-input>
            <q-input
            label="Email"
            lazy-rules
            v-model="email"
            ref="email"
            :rules="[val => !!val || 'Все поля должны быть заполнены!',
            val => /.+@.+/.test(val) || 'Введите корректный email!']"
            color="secondary"
              outlined
              type="email"
            >
              <template v-slot:prepend>
                <q-icon name="mail" />
              </template>
            </q-input>

            <q-input
            ref="password"
            v-model="password"
            lazy-rules
            color="secondary"
            :rules="[val => !!val || 'Все поля должны быть заполнены!',
            val => val.length >= 6 || 'Please use minimum 6 characters']"
            outlined
            type="password"
            label="Пароль"
            >
              <template v-slot:prepend>
                <q-icon name="lock" />
              </template>
            </q-input>

            <q-input
              color="secondary"
              outlined
              ref="confirmpassword"
              type="password"
              label="Подтвердите пароль"
              v-model="confirmPassword"
              :rules="confirmPasswordRules"
              lazy-rules
            >
              <template v-slot:prepend>
                <q-icon name="repeat" />
              </template>
            </q-input>
            <div class="flex">
            <q-checkbox class="text-grey" v-model="accept" label="С правилами согласен" />
            </div>
            <div class="flex justify-start row q-mt-lg">
              <q-btn
                color="secondary"
                label="Зарегестрироваться"
                type="submit"
                no-caps
                class="q-mb-sm col-12 q-pa-sm text-subtitle1 text-bold"
              />
            </div>
          </form>
          <div class="flex q-mt-md justify-center items-center">
              <div class="text-grey  text-subtitle1">Уже есть аккаунт?</div>
              <q-btn flat no-caps to="/" class="text-secondary text-body1">
               Войти!
              </q-btn>
          </div>
        </q-card-section>
      </q-card>
    </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: "",
      name: "",
      accept: false,
      confirmPasswordRules: [
        val => !!val || "Все поля должны быть заполнены!",
        val =>
          (val && val.length >= 6) ||
          "Пароль должен содержать не менее 6 символов!",
        val => val === this.password || "Пароль должен совпадать!"
      ]
    };
  },
  methods: {
    async onSubmit() {
      this.$refs.name.validate();
      this.$refs.email.validate();
      this.$refs.password.validate();
      this.$refs.confirmpassword.validate();
      if (
        this.$refs.password.hasError ||
        this.$refs.email.hasError ||
        this.$refs.name.hasError ||
        this.$refs.confirmpassword.hasError
      ) {
        this.formHasError = true;
      } else if (this.accept !== true) {
        this.$q.notify({
          icon: "error",
          color: "negative",
          message:
            "Вы должны согласиться с правилами обработки персональных данных"
        });
      } else if (this.accept === true) {
        this.$q.notify({
          icon: "done",
          color: "positive",
          message: "Вход успешно завершен!"
        });
        const user = {
          name: this.name,
          email: this.email,
          password: this.password
        };
        try {
          await this.$store.dispatch("register", user);
          this.$router.push("/game");
        } catch (e) {
          console.log(e)
        }
      }
    }
  },
  computed: {
    error() {
      return this.$store.getters.error;
    }
  }
};
</script>
<style lang="scss">
a {
  text-decoration: none;
}
</style>
